<h4>
  by <%= @user.trace_id %>
</h4>
<% if user_signed_in? %>
<%= form_for(@memo, class: 'form-horizontal', role:'form') do |f| %>
<%= f.text_area :content, class: 'memo' %>
<br>
<%= f.submit "Memo!!", class: 'btn btn-default', data: {disable_with: '作成中'} %>
<% end %>
<% end %>
 
<h3>New Memo</h3>
<% @user.memos[0..0].each do |memo| %>
<h4><a href="/memo/<%= memo.trace_id %>">■</a></h4>
<%= raw memo.render %>
<% end %>

<h3>Random Pickup</h3>
<% @user.memos.shuffle[0..5].each do |memo| %>
<div>
  <h4><a href="/memo/<%= memo.trace_id %>">■</a></h4>
  <%= raw memo.render %>
</div>
<% end %>
