<h4>
  by <%= @user.trace_id %>
</h4>
</h4>
  <a href="<%= user_feed_path(:trace_id => @user.trace_id) %>">RSS</a>
</h4>
<% if user_signed_in? %>
<div class="row">
  <div class="col-xs-6">
    <%= form_for(@memo, class: 'form-horizontal', role:'form') do |f| %>
    <%= f.text_area :content, class: 'memo-create' %>
    <%= f.submit "Memo!!", class: 'btn btn-default', data: {disable_with: '作成中'}, id: "submit-memo" %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h4 class="subtitle">Markdown Preview</h4>
    <div id="memo-preview">  
    </div>
  </div>
</div>
<br>
<% end %>
 
<hr>
<h3>New Memo</h3>
<hr>

<% @user.memos[0..0].each do |memo| %>
<h4><a href="/memo/<%= memo.trace_id %>">■</a></h4>
<%= raw memo.render %>

<% end %>
<hr>
<h3>Random Pickup</h3>
<hr>
<% @user.memos.shuffle[0..5].each do |memo| %>
<div>
  <h4><a href="/memo/<%= memo.trace_id %>">■</a></h4>
  <%= raw memo.render %>
</div>
<hr>
<% end %>
