<!DOCTYPE html>
<html>
  <head>
  <title>Zanmemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <div class="header">
	<ul class="nav nav-pills pull-right">
	  <li>
	  <% if user_signed_in? %>
	    <a href="/users/<%= current_user.trace_id %>">
	      <%= current_user.trace_id %>
	    </a>
	  </li>
	  
	  <li>
	    <%= link_to "Sign out", destroy_user_session_path %>
	    <% else %>
	    <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
	    <% end %>
	  </li>
	  </ul>
	<h3 class="text-muted">Zanmemo</h3>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
